---
interface Props {
  placeholderImgSrc: string
  fullImgSrc: string
  alt: string
  imageStyle?: string
}

const { alt, fullImgSrc, placeholderImgSrc, imageStyle } = Astro.props
---

<div
  class="w-full h-full bg-no-repeat [background-size:100%] rounded-md"
  style={`background-image: url('${placeholderImgSrc}'); background-position: center;`}
>
  <img
    style={imageStyle}
    loading="lazy"
    src={fullImgSrc}
    alt={alt}
    class="w-full h-full object-contain rounded-md"
  />
</div>

<style>
  img.fully-loaded {
    animation: showImg 0.3s ease-in-out forwards;
  }

  @keyframes showImg {
    to {
      opacity: 1;
    }
  }
</style>
