---
import MainLayout from "@/layouts/MainLayout.astro"
import Image from "@/components/shared/Image.astro"
import images from "@/assets/images.json"
---

<MainLayout>
  <section class="grid grid-cols-1 lg:grid-cols-2 2xl:grid-cols-3 gap-8">
    {
      images.map(image => (
        <Image
          alt={image.alt}
          fullImgSrc={image.src}
          placeholderImgSrc={image.placeholderSrc}
        />
      ))
    }
  </section>
</MainLayout>
